<!DOCTYPE html>
<html>

<head>
    <%- include('../partials/head.ejs'); %>
    <title><%=title%></title>
</head>

<body>
    <div class="container">
        <main>      
            <div class="jumbotron">
                <h1>Nincs jogosultságod a kívánt művelet végrehajtásához!</h1> 
                <p>Lépj vissza a <a href="/">főoldalra</a>!</p> 
            </div>
        </main>
        <footer>
            <%- include('../partials/footer.ejs'); %>
        </footer>
    </div>
</body>

</html>