<!DOCTYPE html>
<html>

<head>
    <%- include('../partials/head.ejs'); %>
        <title><%=title%></title>
</head>

<body>
    <div class="container">
        
        <main>      
            <div class="jumbotron">
                <h1>Szerverhiba</h1> 
                <p><%=error%></p>
                <p>Lépj vissza a <a href="/">főoldalra</a>!</p> 
            </div>
        </main>
    </div>
</body>

</html>