<!DOCTYPE html>
<html>

<head>
    <%- include('../partials/head.ejs'); %>
        <title><%=title%></title>
</head>

<body>
    <div class="container">
        <header>
            <%- include('../partials/header.ejs'); %>
        </header>

        <main>      
            <div class="jumbotron">
                <h1>Nincs találat</h1> 
                <p>Ismételd meg a keresést vagy lépj vissza a <a href="/">főoldalra</a>!</p> 
            </div>
        </main>
        <footer>
            <%- include('../partials/footer.ejs'); %>
        </footer>
    </div>
</body>

</html>